@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #101010;
    --foreground: #0A0A0A;
    --card: #101010;
    --card-foreground: #0A0A0A;
    --popover: #101010;
    --popover-foreground: #0A0A0A;
    --primary: #171717;
    --primary-foreground: #101010;
    --secondary: #F5F5F5;
    --secondary-foreground: #171717;
    --muted: #F5F5F5;
    --muted-foreground: #727272;
    --accent: #F5F5F5;
    --accent-foreground: #171717;
    --destructive: #D53F3F;
    --destructive-foreground: #101010;
    --border: #E5E5E5;
    --input: #E5E5E5;
    --ring: #0A0A0A;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  @keyframes glitch {
  0% { opacity: 1; }
  20% { opacity: .4; transform: translate(2px, -2px); }
  40% { opacity: .8; transform: translate(-2px, 2px); }
  60% { opacity: .3; transform: translate(3px, -1px); }
  80% { opacity: 1; transform: translate(-1px, 1px); }
  100% { opacity: 1; transform: none; }
}

.animate-glitch {
  animation: glitch 0.6s linear infinite;
}
  

  body {
    @apply bg-background text-foreground;
  }
}
